#FC{
    border: 5px solid #7bcb0a;
}

#FR, #FC, #TAS, #TAM, #remplissage, #adrenaline, #tailleSIT, #repereSIT, #forceRea{
    font-size: 40px;
    box-sizing: border-box;
    height: 158px;
    padding: 15px;
    float: left;
    margin-bottom: 1%;
    position: relative;
}

#FR{
    border:  5px solid #ffc513;
}
#TAS, #TAM{
    border:  5px solid #ff0018;
}

#adrenaline{
    border:  5px solid #f48fb1;
}

#remplissage{
    border:  5px solid #42a5f5;   
}

#tailleSIT, #repereSIT{
    border:  5px solid #ff6000;      
}

#forceRea{
    border: 5px solid rgb(206, 54, 236);
}

.gros{
    font-size: 65px !important ;
    font-weight: bold;
}
.demi-fat{
    font-size:40px;
    font-weight: 400;
}
.petit{
    font-size: 19px;
}

.adreAC, .amioAC, .calculCV1, .calculCV2{
    font-size: 45px;
    font-weight: bold;
}

.carousel .carousel-item h2{
    font-size: 50px !important;
}

#eclair, #adre {
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(0%) translateY(-50%);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    z-index: 50;
    display: none;
}


/* ------- legende de carousel --------- */

.siH {
    font-size: 35px;
}


@keyframes shake {
    0% { transform: translateX(0%) translateY(-50%) translate(1px, 1px) rotate(0deg); }
    10% { transform: translateX(0%) translateY(-50%) translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translateX(0%) translateY(-50%) translate(-3px, 0px) rotate(5deg); }
    30% { transform: translateX(0%) translateY(-50%) translate(3px, 2px) rotate(0deg); }
    40% { transform: translateX(0%) translateY(-50%) translate(1px, -1px) rotate(5deg); }
    50% { transform: translateX(0%) translateY(-50%) translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translateX(0%) translateY(-50%) translate(-3px, 1px) rotate(0deg); }
    70% { transform: translateX(0%) translateY(-50%) translate(3px, 1px) rotate(-5deg); }
    80% { transform: translateX(0%) translateY(-50%) translate(-1px, -1px) rotate(5deg); }
    90% { transform: translateX(0%) translateY(-50%) translate(1px, 2px) rotate(0deg); }
    100% { transform: translateX(0%) translateY(-50%) translate(1px, -2px) rotate(-5deg); }
}

.delay5s{
    display: none;
}
/* ---------------- CALCULS ---------------- */

h1, h2, h3, h4, h5, h6 {
    margin: 0 !important;
    font-size: 20px;
}

#FC, #FR, #remplissage {
    width: 70%;
}

#tailleSIT{
    width: 32.666%;
}
#repereSIT, #forceRea {
    width: 32.666%;
    margin-left: 1%;
}

#TAS, #TAM, #adrenaline {
    width: 29%;
    margin-left: 1%;
}

/* ------------------- HEADER ----------------- */

#header input::placeholder, #ageValeurMois, #header input{
    color: #fff;
    font-size: 20px;
}

#header div div label.active {
    color: #fff;
}

input {
    border-bottom: 1px solid #fff !important;
}

.values {
    line-height: 0.7;
    font-size: 55px;
}

.values2 {
    line-height: 0.5;
    position: absolute;
    right: 20px;
    font-size: 55px;
}
/* -------------------- span blue dopee ----------------- */
.spB{
    font-size: 80px;
    color: blue;
    line-height: 1.5;
}
.tlB{
    font-size: 65px;
}
/* -------------------- BUTTONS ----------------- */

.buttons button {
    height: 133px;
    width: 100%;
}

#arretDef {
    background-color: #ed1c24;
}

#arretDef:hover {
    background-color: #e30710;
}

#arretNonDef {
    background-color: #c6040b;
}

#arretNonDef:hover {
    background-color: #ac0e14;
}

#trauma {
    background-color: #ff8b0e;
}

#trauma:hover {
    background-color: #e67c00;
}

#desat {
    background-color: #37b2f8;
}

#desat:hover {
    background-color: #1697e1;
}

#tsvLink {
    background-color: #911ac9;
}

#tsvLink:hover {
    background-color: #7908ae;
}

#constantes {
    background-color: #18c84d;
}

#constantes:hover {
    background-color: #19c435;
}

/*--------------- carrousel --------------*/
.carousel h2{
    padding: 5px;
}

button {
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 10px;
}

button h3 {
    color: #fff;
    font-size: 30px;
}

#divBtnSound{
    display: none;
}